USE [PalkinMDK0202]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 27.11.2025 3:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[cost_for_unit] [float] NULL,
	[amount_in_stock] [int] NULL,
	[id_material_type] [int] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 27.11.2025 3:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[percentage_of_defect] [float] NULL,
 CONSTRAINT [PK_Material_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials_in_products]    Script Date: 27.11.2025 3:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials_in_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_product] [nvarchar](7) NULL,
	[id_material] [int] NULL,
 CONSTRAINT [PK_Materials_in_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_products_request]    Script Date: 27.11.2025 3:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_products_request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_product] [nvarchar](7) NULL,
	[id_partner] [int] NULL,
	[count] [int] NULL,
 CONSTRAINT [PK_Partner_products_request] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_type]    Script Date: 27.11.2025 3:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Partner_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 27.11.2025 3:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_partner_type] [int] NULL,
	[name] [nvarchar](50) NULL,
	[director] [nvarchar](150) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[address] [nvarchar](150) NULL,
	[inn] [nvarchar](10) NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 27.11.2025 3:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](130) NULL,
	[factor] [float] NULL,
 CONSTRAINT [PK_Product_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 27.11.2025 3:14:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[article] [nvarchar](7) NOT NULL,
	[id_product_type] [int] NULL,
	[name] [nvarchar](75) NULL,
	[min_cost] [float] NULL,
	[amount_in_stock] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material_type] ON 

INSERT [dbo].[Material_type] ([id], [name], [percentage_of_defect]) VALUES (1, N'Тип материала 1', 0.002)
INSERT [dbo].[Material_type] ([id], [name], [percentage_of_defect]) VALUES (2, N'Тип материала 2', 0.005)
INSERT [dbo].[Material_type] ([id], [name], [percentage_of_defect]) VALUES (3, N'Тип материала 3', 0.003)
SET IDENTITY_INSERT [dbo].[Material_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner_products_request] ON 

INSERT [dbo].[Partner_products_request] ([id], [id_product], [id_partner], [count]) VALUES (1, N'5028272', 1, 200)
INSERT [dbo].[Partner_products_request] ([id], [id_product], [id_partner], [count]) VALUES (2, N'5029784', 2, 3000)
INSERT [dbo].[Partner_products_request] ([id], [id_product], [id_partner], [count]) VALUES (3, N'5033136', 3, 1000)
SET IDENTITY_INSERT [dbo].[Partner_products_request] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner_type] ON 

INSERT [dbo].[Partner_type] ([id], [name]) VALUES (1, N'ЗАО')
INSERT [dbo].[Partner_type] ([id], [name]) VALUES (2, N'ООО')
INSERT [dbo].[Partner_type] ([id], [name]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[Partner_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([id], [id_partner_type], [name], [director], [email], [phone], [address], [inn], [rating]) VALUES (1, 1, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', N'9432455179', 5)
INSERT [dbo].[Partners] ([id], [id_partner_type], [name], [director], [email], [phone], [address], [inn], [rating]) VALUES (2, 1, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', N'7803888520', 3)
INSERT [dbo].[Partners] ([id], [id_partner_type], [name], [director], [email], [phone], [address], [inn], [rating]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', N'8430391035', 4)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_type] ON 

INSERT [dbo].[Product_type] ([id], [name], [factor]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[Product_type] ([id], [name], [factor]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[Product_type] ([id], [name], [factor]) VALUES (3, N'Плитка', 5.25)
SET IDENTITY_INSERT [dbo].[Product_type] OFF
GO
INSERT [dbo].[Products] ([article], [id_product_type], [name], [min_cost], [amount_in_stock]) VALUES (N'5028272', 4, N'Бетонная плитка Белый кирпич микс 30х7,3 см', 2080, NULL)
INSERT [dbo].[Products] ([article], [id_product_type], [name], [min_cost], [amount_in_stock]) VALUES (N'5029784', 4, N'Бетонная плитка Красный кирпич 20x6,5 см', 2760, NULL)
INSERT [dbo].[Products] ([article], [id_product_type], [name], [min_cost], [amount_in_stock]) VALUES (N'5033136', 4, N'Гипсовая плитка настенная Дом на берегу кирпич белый 18,5х4,5 см', 499, NULL)
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Material_type] FOREIGN KEY([id_material_type])
REFERENCES [dbo].[Material_type] ([id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Material_type]
GO
ALTER TABLE [dbo].[Materials_in_products]  WITH CHECK ADD  CONSTRAINT [FK_Materials_in_products_Material] FOREIGN KEY([id_material])
REFERENCES [dbo].[Material] ([id])
GO
ALTER TABLE [dbo].[Materials_in_products] CHECK CONSTRAINT [FK_Materials_in_products_Material]
GO
ALTER TABLE [dbo].[Materials_in_products]  WITH CHECK ADD  CONSTRAINT [FK_Materials_in_products_Products] FOREIGN KEY([id_product])
REFERENCES [dbo].[Products] ([article])
GO
ALTER TABLE [dbo].[Materials_in_products] CHECK CONSTRAINT [FK_Materials_in_products_Products]
GO
ALTER TABLE [dbo].[Partner_products_request]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_request_Partners] FOREIGN KEY([id_partner])
REFERENCES [dbo].[Partners] ([id])
GO
ALTER TABLE [dbo].[Partner_products_request] CHECK CONSTRAINT [FK_Partner_products_request_Partners]
GO
ALTER TABLE [dbo].[Partner_products_request]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_request_Products] FOREIGN KEY([id_product])
REFERENCES [dbo].[Products] ([article])
GO
ALTER TABLE [dbo].[Partner_products_request] CHECK CONSTRAINT [FK_Partner_products_request_Products]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_Partner_type] FOREIGN KEY([id_partner_type])
REFERENCES [dbo].[Partner_type] ([id])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_Partner_type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_type] FOREIGN KEY([id_product_type])
REFERENCES [dbo].[Product_type] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_type]
GO
